body {
  font-family: Arial, sans-serif;
  width: 400px;
}

h1, h2 {
    margin-top: 5px;
  margin-bottom: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  padding: 1rem;
}

label.text-input {
  display: block;
  margin-top: 0.5rem;
  font-weight: bold;
}

input[type="text"],
input[type="number"]
{
  width: 100%;
  margin-bottom: 5px;
  margin-top: 2px;
}